@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    /* Tailwind v4 default scrollbar styling */
    scrollbar-width: thin;
    scrollbar-color: var(--color-slate-300) transparent;
  }
}
